.confirm-main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.img-logo {
    width: 101%;
    transform: translateY(-10%);
}

.img-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 55% !important;
}

.form-container {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.confirm-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

