.header{
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 3em;
    padding: 0px;
    z-index: 50;
    position: fixed;
    justify-content: space-between;
    top: 0;
}

.footer{
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #e5e5e5;
    background: #FFFFFF;  /* fallback for old browsers */
    width: 100%;
    height: 3em;
    padding: 0px;
    display:flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
}

.notifications{
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
}

.footer-item{
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
    z-index: 10000;
}

.deck{
    border-radius: 0.7em;
    background:  -moz-linear-gradient(rgba(255, 255, 255, 0.0), rgba(2, 40, 73, 0.2), rgb(2, 40, 73)), url("../Assets/deck-background.jpg") no-repeat top right;
    background-size: cover;
    place-content: end;
    position: relative;
    height: 8em;
}

.bottom{
    font-size: x-large;
    bottom: 0px;
    right: 0px;
    position: absolute;
    size: 3em;
    color: white;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    font-family: Arial;
}

.footer-item-selected{
    border-top-style: solid;
    border-top-color: #1a6b8f;
    height: 100%;
    color: white;
    float: right;
    padding: 8px;
    z-index: 10000;
}

.logo{
    height: 100%;
    color: white;
    float: left;
    padding: 7px;
}

.search{
    color: #013C63;
    width: 100%;
}

.content{
    background: #e7e9ec;
    padding: 20px;
    margin-top: 2.7em;
    height: 100%;
    width: 100%;
    font-family: Arial;
}

.add-deck{
    font-size: large;
    color: #013C63;
    text-align: center;
    font-family: Arial;
}

.home-main-container {
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

.user-content-wrapper{
    padding: 0.4em 0.6em;
    color: black;
    border-color: #a8aaad;
    border-width: thick;
    border-radius: 0.3em;
    background: white;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.home-animation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: pop 300ms;
}

.circular{
    float: left;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.7em;
}

.name{
    margin-left: 1.2em;
    font-weight: bold;
    color: #013C63;
    font-family: Arial;
    font-size: 1em;
    padding: 0;
    line-height:1.2em;
    margin-bottom: 0.2em;
}

.date{
    margin-left: 1em;
    font-weight: bold;
    color: #4e4e4e;
    font-family: Arial;
    font-size: 0.8em;
    padding: 0;
    line-height:1em;
}

.notice-header{
    width: 100%;
    display: flow;
}

div{
    margin: 0px 0px 20px 0px;
}

@keyframes pop {
    from {transform: scale(.1)}
    to {transform: scale(1)}
}