.menu-main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    background-color: #143256;
}

.menu-img-logo{
    width: 50%;
    display: flex;
    justify-content: center;
}

.menu-logo-user{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.menu-main-menu{
    float: right;
    width: 100%;
    text-align: right;
    color: white;
    margin: 0 auto;
    font-size: 150%;
    margin-right: 5vh;
    border-width: medium;
    border-color: white;
}

.menu-separator{
    width: 80%;
    margin-right: 5vh;
    margin-left: 5vh;
    
}

.center-hr {
    
}

.menu-friends{
    float: right;
    width: 100%;
    text-align: right;
    color: white;
    margin: 0 auto;
    font-size: 150%;
    margin-right: 5vh;
    border-width: medium;
    border-color: white;
}


