.main-wizard-container {
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wizard-input {
    width: 80% !important;
    text-align: center;
}

.main-wizard-container > p {
    color: white; 
    font-size: 1.4em;
}

.main-wizard-container > i {
    color: white;
    text-align: center;
    margin-top: 2em;
}

.wizard-btn {
    margin-top: 2em;
}