@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  height: 100%;
}

* {font-family: 'Montserrat Alternates', sans-serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

html{
  height: 100%;
}

#root{
  height: 98%;
  margin: 0;
}
