.item-quest {
    border-color: #00558c;
    background: white;
    margin: 15px;
    border-radius: 50px;
}

.list-main-container{
    margin-top: 42px;
    margin-bottom: 42px;
}

.questionnaires-main-container .ant-list-item-meta-title {
    text-align: center;
    color: #00558c;
}
