.deck-creation{
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.center{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    text-align: center;
}

.deck-creation-tittle{
    font-size: large;
    color: #013C63;
    justify-self: center;
    width: 100%;
    font-family: Arial;
}
.deck-creation-button-final{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    text-align: center;
    margin: auto;
}

.ant-form-item {
    margin-bottom: 0% !important;
}

.content{
    width: 100vw;
}

.deck-creation-form{
    margin: 0;
    padding: 0;
    width: 100vw;
}

@media (min-width: 576px){
    .deck-creation .ant-form-item{
        width: 80%;
    }
}

@media (min-width: 700px) {
    .deck-creation .deck-creation-button-final{
        width: 60%;
    }
}