.decks-container{
    margin-top: 4em;
    text-align: center;
    display: flex;
    flex-flow: column;
}


.decks-main-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: white;
}

.decks-container .ant-layout{
    height: 100%;
}

.decks-container h1{
    text-align: center;
    color: #40a9ff;
    margin-bottom: 0.8em;
}

.decks-container .ant-card{
    margin: 1%;
    height: 5%;
    background: transparent;
}

.decks-container .ant-list{
    margin: 5%;
}

.decks-container .ant-card-head {
    height: 1.7em;
    margin-bottom: 0.4em !important;
    min-height: 0;
    background-color: #00558c;
}

.decks-container .ant-card-body {
    background-color: #00558c;
    margin: 0;
    font-size: 0.75em;
    color: white;
    padding: 18px 10px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.decks-container .ant-card:hover {
    cursor: pointer;
}

.decks-container .img-card{
     margin-bottom: 18px;
     height: 55px;
 }

.decks-container .new-card{
     color: #00558c;
     border-color: #00558c;
     width: 114.31px;
     height: 159.58px;
     margin: auto;
 }

.decks-container .select-container{
    margin-bottom: 0;
}

.decks-container .ant-select{
    color: #00558c;
}

.ant-select-dropdown-menu-item {
    color: #00558c;
}

.delete-button{
    z-index: 1000;
    position: relative;
    height: 1.5em;
    top: 1.85em;
    right: -3em;
}