.decks-container{
    margin-top: 4em;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.decks-main-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    color: white;
}

.decks-container .ant-layout{
    height: 100%;
}

.decks-container h1{
    text-align: center;
    color: #40a9ff;
    margin-bottom: 0.8em;
}

.decks-container .ant-card{
    background: transparent;
}

.decks-container .ant-list{
    margin: 5%;
}

.decks-container .ant-card-head {
    height: 1.7em;
    width: 114.31px;
    margin-bottom: 0.4em !important;
    min-height: 0;
    background-color: #00558c;
}

.decks-container .ant-card-body {
    background-color: #00558c;
    margin: 0;
    font-size: 0.75em;
    color: white;
    padding: 18px 10px;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 114.31px;
    height: 125px;
}

.decks-container .ant-card:hover {
    cursor: pointer;
}

.decks-container .img-card{
    margin-bottom: 18px;
    height: 55px;
}

.decks-container .new-card{
    color: #00558c;
    border-color: #00558c;
    width: 114.31px;
    height: 159.58px;
    margin: auto;
}

.decks-container .select-container{
    margin-bottom: 0;
}

.decks-container .ant-select{
    color: #00558c;
}

.ant-select-dropdown-menu-item {
    color: #00558c;
}

.delete-button{
    z-index: 10;
    position: absolute;
    height: 1.3em;
    top: 0.4em;
    right: 0.8em;
    margin: 0;
    padding: 0;
}

.edit-button{
    z-index: 10;
    position: absolute;
    height: 1.3em;
    top: 0.4em;
    left: 0.8em;
    margin: 0;
    padding: 0;
}

.swal2-popup {
    width: 90vw !important;
    background: rgb(255, 255, 255) !important;
    box-shadow: 0 2px 10px black !important;
}

.swal2-confirm{
    background: #a5dc86 !important;
}

.swal2-cancel{
    background: #f27474 !important;
}

.swal2-title {
    color: #4e4e4e !important;
}

.swal2-content {
    color: #4e4e4e !important;
}

.swal2-footer {
    color: #4e4e4e !important;
}


@keyframes pop {
    from {transform: scale(.1)}
    to {transform: scale(1)}
}

.decks-container .ant-col-8{
    width: auto;
}

.decks-container .ant-list-item{
    position: relative;
    margin: auto;
}

@media (min-width: 650px) {
    .decks-container .ant-col-8{
        width: 25%;
        left: auto;
        margin-bottom: 2%;
    }

    .decks-container .ant-list-item{
        left: auto !important;
        width: 189px;
     }

    .decks-container .ant-card-body{
        width: 100%;
        height: 187px;
        font-size: large;

    }

    .decks-container .ant-card-head{
        width: 100%;
        height: 40px;
    }

    .decks-container h1{
        font-size: x-large;
    }

    .decks-container .img-card{
        height: 82px;
    }
    .delete-button{
        height: 1.9em;
    }

    .edit-button{
        height: 1.9em;
    }

    .decks-container .new-card{
        width: 155px;
        height: 235px;
    }
}

