.home-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    color: white;

}

.header{
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 3em;
    padding: 0px;
    z-index: 50;
    position: fixed;
    justify-content: space-between;
    top: 0;
}

.footer{
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #e5e5e5;
    background: #FFFFFF;  /* fallback for old browsers */
    width: 100%;
    height: 3em;
    padding: 0px;
    display:flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    z-index: 50;
}

.notifications{
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
}

.footer-item{
    width: 61px;
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
    z-index: 10000;
}

.deck{
    border-radius: 0.7em;
    background:  -moz-linear-gradient(rgba(255, 255, 255, 0.0), rgba(2, 40, 73, 0.2), rgb(2, 40, 73)), url("../Assets/deck-background.jpg") no-repeat top right;
    background-size: cover;
    place-content: end;
    position: relative;
    height: 8em;
}

.bottom{
    font-size: x-large;
    bottom: 0px;
    right: 0px;
    position: absolute;
    size: 3em;
    color: white;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    font-family: Arial;
}

.ant-scroll-number, ant-badge-count{
    margin-left: -5px;
    position: absolute;
    right: 17px;
    top: 7px;
}

.footer-item-selected{
    width: 61px;
    border-top-style: solid;
    border-top-color: #1a6b8f;
    height: 100%;
    color: white;
    float: right;
    padding: 8px;
    z-index: 10000;
}

.logo{
    height: 100%;
    color: white;
    float: left;
    padding: 7px;
}

.search{
    color: #013C63;
    width: 100%;
}

.content{
    background: #f0f2f5;
    padding: 20px;
    margin-top: 2.7em;
    font-family: Arial;
}

.add-deck{
    font-size: large;
    color: #013C63;
    text-align: center;
    font-family: Arial;
}

.home-main-container {
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

.outside-container{
    border-bottom: #8e8e8e solid thin;
    overflow: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.user-content-wrapper{
    padding: 0.4em 0.6em;
    color: black;
    border-color: #a8aaad;
    border-width: thick;
    border-radius: 0.3em;
    background: white;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.home-animation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: pop 300ms;

}

.circular{
    float: left;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-right: 0;
    margin-top: 0.8em;
}

.card{
    float: right;
    border-radius: 10%;
    width: 5em;
    height: 7em;
    margin-left: 0.7em;
    margin-top: 0.7em;
    background: #013C63;
    margin-bottom: 1.4em;
}

.link{
    font-weight: bold;
    color: #013C63;
    font-family: Arial;
    height: 1.2em;
}

.text-container{
    margin-top: 0.7em;
    margin-bottom: 1.4em;
    background: white;
    overflow: auto;
    margin-left: 3em;
    padding-left: 0.5em;
    border-color: #dfe1e4;
    border-width: 1px;
    border-radius: 0.3em;
    border-style: solid;
    vertical-align: middle;
}

.text{
    color: #000000;
    font-family: Arial;
    font-size: 1em;
    margin-top: 0.7em;
    vertical-align: center;
    height: 1.2em;
    line-height :1.3em;
}

.notice-header{
    width: 100%;
    float: top;
}

div{
    margin: 0px 0px 0.7em 0px;
}

@keyframes pop {
    from {transform: scale(.1)}
    to {transform: scale(1)}
}