.login-main-container {
    width: 100vw;
    overflow: hidden;
    background-color: white;
}
.login-main-container button{
    margin: auto;
}
.img-logo {
    width: 100%;
    margin-bottom: 50px;
}

.flipsy-logo{
    display: none;
}

.img-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-main-container .input {
    width: 55%;
    margin: 5px;
}

.form-container {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.login-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.final-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.flipsy-logo {
    margin-top: 50px;
    width: 35%;
}

@media (min-width: 500px) {
    .img-logo{
        display: none;
    }

    .flipsy-logo{
        display: unset;
    }

    .final-options{
        margin-top: 5%;
    }
}

@media (min-width: 650px) {
    .flipsy-logo {
        margin-top: 50px;
        width: 30%;
    }
}
